$card-red: #EF5350;
$card-black: #37474F;
$rounding: 15px;

.material-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: $rounding;

    .top{
        box-shadow: 0 1px 3px rgba(0,0,0,0.24);
        border-top-left-radius: $rounding;
        border-top-right-radius: $rounding;
        height: 20%;
        background-color: $card-red;
        padding: 10px;
        .value{

        }

    }

    .middle{
        height: 60%;
    }

    .bottom{
        box-shadow: 0 -1px 3px rgba(0,0,0,0.24);
        border-bottom-left-radius: $rounding;
        border-bottom-right-radius: $rounding;
        height: 20%;
        background-color: $card-red;
    }
}

@mixin flip {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
